## Python code for ETH data

Preparation

In [ ]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('ETH_CropSoilData_NA.csv')

In [5]:
df

,FundingSource,ID,Crop_ICP_Run,Latitude,Longitude,Altitude,LocationPrecision,SamplingStart,SamplingEnd,Crop,...,Se_Tot_Aqu,Ti_Tot_Aqu,U_Sol_Ca,Zn_CaCl,Zn_DTPA,Zn_E,Zn_FIA,Zn_LogKd,Zn_Sol_Ca,Zn_Tot_Aqu
0,GCRF,ETH0002,1,10.708913,38.891768,2464.24729,4,25/11/2017,25/11/2017,Wheat,...,0.52595,1721.02897,0.00037,0.01580,1.04123,30.59718,0.0,4.29791,0.00853,123.35209
1,GCRF,ETH0003,1,10.714124,38.885872,2471.00092,4,25/11/2017,25/11/2017,Wheat,...,0.22523,982.78689,0.00119,0.00647,0.28792,33.74796,0.0,4.36839,0.00785,85.95252
2,GCRF,ETH0004,1,10.820185,38.683558,2718.45204,4,24/11/2017,24/11/2017,Wheat,...,0.30421,2046.68425,0.00005,0.02258,0.83694,39.82536,0.0,4.09376,0.01904,96.88578
3,GCRF,ETH0005,1,10.793375,38.632296,2307.12413,4,24/11/2017,24/11/2017,Wheat,...,0.67272,2309.91450,0.00003,0.04471,1.76968,10.70863,0.0,3.50873,0.01938,103.23491
4,GCRF,ETH0006,1,10.785993,38.741447,2659.17315,4,24/11/2017,24/11/2017,Barley,...,0.24545,1808.82006,0.00001,0.08718,0.50492,9.24103,0.0,2.89948,0.06983,110.83563
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1347,BMGF,ETH1453,2,7.430024,38.675750,1799.02693,4,24/12/2018,24/12/2018,maize,...,0.47036,1508.76823,0.00151,NaN,2.25614,13.35841,NaN,3.74976,0.01659,134.26934
1348,BMGF,ETH1454,1,7.101424,39.775415,3056.70284,4,20/12/2018,21/12/2018,barley,...,0.48762,3017.64191,0.00013,NaN,3.24263,6.57546,NaN,2.21823,0.27929,115.47558
1349,BMGF,ETH1455,1,7.373392,40.240079,2399.47460,4,21/12/2018,21/12/2018,Wheat,...,0.38990,2012.71684,0.00008,NaN,0.92736,2.17280,NaN,2.60991,0.03003,61.14296
1350,BMGF,ETH1456,5,9.414123,42.116979,2094.16128,4,21/12/2018,01/01/2019,maize,...,0.48311,2735.90848,0.00002,NaN,1.27582,11.29479,NaN,4.03107,0.00595,96.18713
1351,BMGF,ETH1457,5,7.157427,39.103716,2538.79405,6,30/12/2018,21/12/2018,Wheat,...,0.62926,1526.64484,0.00005,NaN,1.91035,4.65204,NaN,2.71390,0.06790,104.88358

In [9]:
df.dtypes

FundingSource     object
ID                object
Crop_ICP_Run       int64
Latitude         float64
Longitude        float64
                  ...
Zn_E             float64
Zn_FIA           float64
Zn_LogKd         float64
Zn_Sol_Ca        float64
Zn_Tot_Aqu       float64
Length: 125, dtype: object

In [10]:
df.describe()

,Crop_ICP_Run,Latitude,Longitude,Altitude,LocationPrecision,Ag_grain,Al_grain,As_grain,B_grain,Ba_grain,...,Se_Tot_Aqu,Ti_Tot_Aqu,U_Sol_Ca,Zn_CaCl,Zn_DTPA,Zn_E,Zn_FIA,Zn_LogKd,Zn_Sol_Ca,Zn_Tot_Aqu
count,1352.000000,1352.000000,1352.000000,1352.000000,1352.000000,357.000000,1206.000000,414.000000,14.000000,1269.000000,...,1351.000000,1351.000000,1338.000000,420.000000,1352.000000,1338.000000,420.0,1338.000000,1338.000000,1352.000000
mean,2.574704,10.055825,38.638579,2204.154323,4.488905,0.013467,96.217521,0.040106,4.187835,8.330281,...,0.505264,2054.195826,0.000474,0.134510,1.973315,8.620469,0.0,3.033562,0.165218,99.242745
std,1.502639,1.994436,1.198950,489.020284,1.215443,0.017887,325.526731,0.123508,9.341819,20.119406,...,0.224988,1259.953852,0.001741,0.156598,3.113911,7.321837,0.0,0.856997,0.372325,32.364520
min,1.000000,6.616589,35.259462,620.027030,2.000000,0.002260,2.317180,0.002430,1.073480,0.048690,...,0.048060,9.759880,0.000000,0.000010,0.007490,0.437780,0.0,1.095350,0.000640,3.719170
25%,1.000000,8.513214,37.747973,1856.787472,4.000000,0.003750,9.579935,0.007080,1.208230,0.794560,...,0.339600,1184.759030,0.000030,0.029450,0.569542,4.043645,0.0,2.286998,0.010425,80.751392
50%,2.000000,9.662041,38.777610,2203.651090,4.000000,0.006240,17.306745,0.013925,1.282555,5.648380,...,0.472160,1803.215670,0.000050,0.071455,1.071515,6.734555,0.0,3.228070,0.025960,98.612825
75%,4.000000,11.396187,39.400416,2543.959130,4.000000,0.014240,47.080610,0.029507,2.682890,11.271120,...,0.640715,2661.262860,0.000160,0.175572,2.110772,10.682292,0.0,3.732165,0.150615,117.482422
max,5.000000,14.624140,42.393814,3593.007520,16.000000,0.104850,5146.503210,2.095740,36.545540,617.042960,...,2.586100,10090.649960,0.039080,1.028970,54.777080,94.941320,0.0,4.629870,4.690430,290.684870

In [16]:
df.columns.values

array(['FundingSource', 'ID', 'Crop_ICP_Run', 'Latitude', 'Longitude',
       'Altitude', 'LocationPrecision', 'SamplingStart', 'SamplingEnd',
       'Crop', 'GrainSource', 'Site', 'Ag_grain', 'Al_grain', 'As_grain',
       'B_grain', 'Ba_grain', 'Be_grain', 'Ca_grain', 'Cd_grain',
       'Co_grain', 'Cr_grain', 'Cs_grain', 'Cu_grain', 'Fe_grain',
       'K_grain', 'Li_grain', 'Mg_grain', 'Mn_grain', 'Mo_grain',
       'Ni_grain', 'P_grain', 'Pb_grain', 'Rb_grain', 'S_grain',
       'Se_grain', 'Sr_grain', 'Tl_grain', 'U_grain', 'V_grain',
       'Zn_grain', 'Al_Oxa', 'Al_Sol_Ca', 'Al_Tot_Aqu', 'As_Tot_Aqu',
       'Ba_Sol_Ca', 'C_inorg', 'C_org', 'C_tot', 'Ca_CEC', 'Ca_Tot_Aqu',
       'Cd_DTPA', 'Cd_Sol_Ca', 'Cd_Tot_Aqu', 'Co_CaCl', 'Co_DTPA',
       'Co_Sol_Ca', 'Co_Tot_Aqu', 'Cr_Tot_Aqu', 'Cu_CaCl', 'Cu_DTPA',
       'Cu_Sol_Ca', 'Cu_Tot_Aqu', 'eCEC', 'Fe_CaCl', 'Fe_DTPA', 'Fe_Oxa',
       'Fe_Sol_Ca', 'Fe_Tot_Aqu', 'K_CaCl', 'K_CEC', 'K_Sol_Ca',
       'K_Tot_Aqu', 'Mg_CaCl', 'Mg_CEC', 'Mg_Sol_Ca', 'Mg_Tot_Aqu',
       'Mn_CaCl', 'Mn_DTPA', 'Mn_Oxa', 'Mn_Sol_Ca', 'Mn_Tot_Aqu',
       'Mo_CaCl', 'Mo_Sol_Ca', 'Mo_Tot_Aqu', 'N_tot', 'Na_CaCl', 'Na_CEC',
       'Na_Sol_Ca', 'Na_Tot_Aqu', 'Ni_CaCl', 'Ni_DTPA', 'Ni_Sol_Ca',
       'Ni_Tot_Aqu', 'NOPC', 'P_CaCl', 'P_Olsen', 'P_Oxa', 'P_Sol_Ca',
       'P_Tot_Aqu', 'Pb_DTPA', 'Pb_Sol_Ca', 'Pb_Tot_Aqu', 'PBI',
       'pH_CaNO', 'pH_w', 'S_Ads_Seq', 'S_CaCl', 'S_Org_Seq', 'S_Sol_Seq',
       'S_Tot_Aqu', 'Se_Ads_Seq', 'Se_CaCl', 'Se_Org_Seq', 'Se_Sol_Seq',
       'Se_Tot_Aqu', 'Ti_Tot_Aqu', 'U_Sol_Ca', 'Zn_CaCl', 'Zn_DTPA',
       'Zn_E', 'Zn_FIA', 'Zn_LogKd', 'Zn_Sol_Ca', 'Zn_Tot_Aqu'],
      dtype=object)

In [17]:
df_long =\
    df.melt(id_vars=['FundingSource', 'ID', 'Crop_ICP_Run', 'Latitude', 'Longitude',
       'Altitude', 'LocationPrecision', 'SamplingStart', 'SamplingEnd',
       'Crop', 'GrainSource', 'Site'],
       var_name='object',
       value_name='value').copy()

In [18]:
df_long

,FundingSource,ID,Crop_ICP_Run,Latitude,Longitude,Altitude,LocationPrecision,SamplingStart,SamplingEnd,Crop,GrainSource,Site,object,value
0,GCRF,ETH0002,1,10.708913,38.891768,2464.24729,4,25/11/2017,25/11/2017,Wheat,Field stack,Main,Ag_grain,NaN
1,GCRF,ETH0003,1,10.714124,38.885872,2471.00092,4,25/11/2017,25/11/2017,Wheat,Field stack,Main,Ag_grain,NaN
2,GCRF,ETH0004,1,10.820185,38.683558,2718.45204,4,24/11/2017,24/11/2017,Wheat,Standing crop,Main,Ag_grain,NaN
3,GCRF,ETH0005,1,10.793375,38.632296,2307.12413,4,24/11/2017,24/11/2017,Wheat,Standing crop,Main,Ag_grain,NaN
4,GCRF,ETH0006,1,10.785993,38.741447,2659.17315,4,24/11/2017,24/11/2017,Barley,Field stack,Main,Ag_grain,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152771,BMGF,ETH1453,2,7.430024,38.675750,1799.02693,4,24/12/2018,24/12/2018,maize,store,Main,Zn_Tot_Aqu,134.26934
152772,BMGF,ETH1454,1,7.101424,39.775415,3056.70284,4,20/12/2018,21/12/2018,barley,Field stack,Close pair,Zn_Tot_Aqu,115.47558
152773,BMGF,ETH1455,1,7.373392,40.240079,2399.47460,4,21/12/2018,21/12/2018,Wheat,Standing crop,Main,Zn_Tot_Aqu,61.14296
152774,BMGF,ETH1456,5,9.414123,42.116979,2094.16128,4,21/12/2018,01/01/2019,maize,Field stack,Main,Zn_Tot_Aqu,96.18713
152775,BMGF,ETH1457,5,7.157427,39.103716,2538.79405,6,30/12/2018,21/12/2018,Wheat,store,Main,Zn_Tot_Aqu,104.88358

In [23]:
df_wheat =\
    df_long.query('Crop == "Wheat"')

df_wheat

,FundingSource,ID,Crop_ICP_Run,Latitude,Longitude,Altitude,LocationPrecision,SamplingStart,SamplingEnd,Crop,GrainSource,Site,object,value
0,GCRF,ETH0002,1,10.708913,38.891768,2464.24729,4,25/11/2017,25/11/2017,Wheat,Field stack,Main,Ag_grain,NaN
1,GCRF,ETH0003,1,10.714124,38.885872,2471.00092,4,25/11/2017,25/11/2017,Wheat,Field stack,Main,Ag_grain,NaN
2,GCRF,ETH0004,1,10.820185,38.683558,2718.45204,4,24/11/2017,24/11/2017,Wheat,Standing crop,Main,Ag_grain,NaN
3,GCRF,ETH0005,1,10.793375,38.632296,2307.12413,4,24/11/2017,24/11/2017,Wheat,Standing crop,Main,Ag_grain,NaN
5,GCRF,ETH0007,1,10.761391,38.809345,2563.55372,4,24/11/2017,24/11/2017,Wheat,Store,Main,Ag_grain,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152766,BMGF,ETH1448,1,7.575625,39.871081,2400.28026,6,25/12/2018,28/12/2018,Wheat,Standing crop,Main,Zn_Tot_Aqu,95.70918
152768,BMGF,ETH1450,2,7.132739,38.574883,1964.38565,8,20/12/2018,20/12/2018,Wheat,store,Main,Zn_Tot_Aqu,106.68435
152769,BMGF,ETH1451,2,7.272854,38.670199,2016.43547,6,21/12/2018,21/12/2018,Wheat,store,Main,Zn_Tot_Aqu,112.78052
152773,BMGF,ETH1455,1,7.373392,40.240079,2399.47460,4,21/12/2018,21/12/2018,Wheat,Standing crop,Main,Zn_Tot_Aqu,61.14296
152775,BMGF,ETH1457,5,7.157427,39.103716,2538.79405,6,30/12/2018,21/12/2018,Wheat,store,Main,Zn_Tot_Aqu,104.88358